

.navbar-custom {
    color:  white;
    background-color: #7F2989;
    padding-top: 0.10;
}
p.serif {
     font-family: Sans-Serif;
    
}

a {
    color: white;
    text-decoration: none;
}


.navbar-brand,
navbar-nav li a {
    line-height: 10em;
    height: 100em;
    padding-top: 0;
    text-align:center; 
    display: inline-block;
      margin: 1em;
      
}

.footer {
   position: absolute;

   width: 100%;
   background-color: #7F2989;
   color: white;
   text-align: center;
}


  